% extends "headerbase.html" %}

{% load static %}
{% block main %}
    <div class="row">
        <center>
            <h1 id="err">5<img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/sad.png"><img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/sad.png"></h1>
        <h1 style="color:#333333">OH OH! SERVER ERROR.... !</h1>
        <center><a href="{% url 'photoview' %}"><button class="ui blue basic button">Go Back</button></a></center>
        </center>
    </div>

{% endblock main %}