{% extends "headerbase.html" %}

{% load cloudinary %}
{% load static %}
{% block main %}

<div class="col-md-3">
    <div class="ui medium bordered rounded image" id="msize">
        <img src="{{ photo.image.url }}">
        <p class="#">{{ photo.title }}</p>
    <button class="ui facebook button share">
        <i class="facebook icon"></i>
            Share On Facebook
    </button>
    </div>

</div>

<div class="col-md-7">
    <div class="ui fluid bordered rounded image" id="msize">
        <canvas id="canvas"></canvas>
        <p class="#">{{ photo.title }}</p>
    </div>
    <br>


    <div class="container-outer">
        <div class="container-inner">

            <div class="ui small rounded image space resetbtn">
                <img src="{{photo.image.url}}" crossOrigin>
                <P>Normal</P>
             </div>

            <div class="ui small rounded image space" id="brightnessbtn">
                <img data-caman="brightness(30)" src="{{photo.image.url}}" crossOrigin >
                <P>Brightness</P>
             </div>

             <div class="ui small rounded image space" id="noisebtn">
                <img data-caman="noise(10)" src="{{photo.image.url}}" crossOrigin>
                <P>Noise</P>
             </div>

             <div class="ui small rounded image space" id="sepiabtn">
                <img data-caman="serpia(20)" src="{{photo.image.url}}" crossOrigin>
                <P>serpia</P>
             </div>


             <div class="ui small rounded image space" id="contrastbtn">
                <img data-caman="contrast(10)" src="{{photo.image.url}}" crossOrigin>
                <P>contrast</P>
             </div>

             <div class="ui small rounded image space" id="vintagebtn">
                <img data-caman="vintage()" src="{{photo.image.url}}" crossOrigin>
                <P>vintage</P>
             </div>

             <div class="ui small rounded image space" id="lomobtn">
                <img data-caman="lomo()" src="{{photo.image.url}}" crossOrigin>
                <P>lomo</P>
             </div>

             <div class="ui small rounded image space" id="embossbtn">
                <img data-caman="emboss()" src="{{photo.image.url}}" crossOrigin>
                <P>emboss</P>
             </div>

             <div class="ui small rounded image space" id="edgeenhancebtn">
                <img data-caman="edgeEnhance()" src="{{photo.image.url}}" crossOrigin>
                <P>edgeenhance</P>
             </div>

             <div class="ui small rounded image space" id="posterizebtn">
                <img data-caman="posterize(8, 8)" src="{{photo.image.url}}" crossOrigin>
                <P>posterize</P>
             </div>

             <div class="ui small rounded image space" id="claritybtn">
                <img data-caman="clarity()" src="{{photo.image.url}}" crossOrigin>
                <P>clarity</P>
             </div>

             <div class="ui small rounded image space" id="orangepeelbtn">
                <img data-caman="orangePeel()" src="{{photo.image.url}}" crossOrigin>
                <P>orangepeel</P>
             </div>

             <div class="ui small rounded image space" id="sincitybtn">
                <img data-caman="sinCity()" src="{{photo.image.url}}" crossOrigin>
                <P>sincity</P>
             </div>

             <div class="ui small rounded image space" id="sunrisebtn">
                <img data-caman="sunrise()" src="{{photo.image.url}}" crossOrigin>
                <P>sunrise</P>
             </div>

             <div class="ui small rounded image space" id="crossprocessbtn">
                <img data-caman="crossProcess()" src="{{photo.image.url}}" crossOrigin>
                <P>crossprocess</P>
             </div>

             <div class="ui small rounded image space" id="hazydaysbtn">
                <img data-caman="hazyDays()" src="{{photo.image.url}}" crossOrigin>
                <P>hazydays</P>
             </div>

             <div class="ui small rounded image space" id="lovebtn">
                <img data-caman="love()" src="{{photo.image.url}}" crossOrigin>
                <P>love</P>
             </div>

             <div class="ui small rounded image space" id="grungybtn">
                <img data-caman="grungy()" src="{{photo.image.url}}" crossOrigin>
                <P>grungy</P>
             </div>

             <div class="ui small rounded image space" id="jarquesbtn">
                <img data-caman="jarques()" src="{{photo.image.url}}" crossOrigin>
                <P>jarques</P>
             </div>

             <div class="ui small rounded image space" id="oldbootbtn">
                <img data-caman="oldBoot()" src="{{photo.image.url}}" crossOrigin>
                <P>oldboot</P>
             </div>

             <div class="ui small rounded image space" id="pinholebtn">
                <img data-caman="pinhole()"src="{{photo.image.url}}" crossOrigin>
                <P>pinhole</P>
             </div>

             <div class="ui small rounded image space" id="glowingsunbtn">
                <img data-caman="glowingSun()" src="{{photo.image.url}}" crossOrigin>
                <P>glowingsun</P>
             </div>

             <div class="ui small rounded image space" id="hdrbtn">
                <img data-caman="contrast(10) contrast(10) jarques()" src="{{photo.image.url}}" crossOrigin>
                <P>hdr</P>
             </div>

             <div class="ui small rounded image space" id="oldpaperbtn">
                <img data-caman="oldpaper()" src="{{photo.image.url}}" crossOrigin>
                <P>oldpaper</P>
             </div>

             <div class="ui small rounded image space" id="pleasantbtn">
                <img data-caman="pleasant()" src="{{photo.image.url}}" crossOrigin>
                <P>pleasant</P>

             </div>

        </div>
    </div>


</div>

<div class="col-md-2">
    <div class="#">
        <a href="{% url "photoview" %}">
        <button type="button" class="ui black basic button btn-block space" id="sp" >Back</button>
        </a>


        <div class="save" id="savebtn">
        <button type="button" class="ui black basic button btn-block space" id="sp">Download</button>
        </a></div>


        <button type="button" class="ui black basic button btn-block space del" data-toggle="modal" data-target="#delete-modal" href="#delete-modal"id="sp">Delete</button>

        <button type="button" class="ui black basic button btn-block space" id="savechange" style="margin-bottom: 10px;">Save Changes</button>

        <button class="ui black basic button btn-block space resetbtn">Reset</button>

    </div>
<div>

{% include "photoapp/delete_modal.html" %}

    <script>
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var img = new Image();
    img.crossOrigin = '';
          img.src="{{ photo.image.url }}"

    img.onload = function() {
      canvas.width = img.width;
      canvas.height = img.height;
      ctx.drawImage(img, 0, 0, img.width, img.height);
    }
    </script>
{% endblock main %}
