{% extends "headerbase.html" %}

{% load cloudinary %}
{% load static %}
{% load url from future %}
{% block main %}

        <div class="col-md-1 sidebar" id="eff">
            <br>
            <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='default' %}">
                {% cloudinary photo.image Image_Effects.NORMAL %}
                </div>
                <P>Normal</P>
             </div>

            <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='BIG_SERPIA' %}">
                {% cloudinary photo.image Image_Effects.SMALL_SERPIA %}
                </div>
                <p>serpia</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_GRAYSCALE' %}">
                {% cloudinary photo.image Image_Effects.S_GRAYSCALE %}
                </div>
                <p>grayscale</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_VIGNETTE' %}">
                {% cloudinary photo.image Image_Effects.S_VIGNETTE %}
                </div>
                <p>vignette</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_GRADIENTFADE' %}">
                {% cloudinary photo.image Image_Effects.B_GRADIENTFADE %}
                </div>
                <p>gradient</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_CONTRAST_70' %}">
                {% cloudinary photo.image Image_Effects.S_CONTRAST_70 %}
                </div>
                <p>contrast</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_BRIGHTNESS60' %}">
                {% cloudinary photo.image Image_Effects.S_BRIGHTNESS60 %}
                </div>
                <p>brightness</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_BLUR' %}">
                {% cloudinary photo.image Image_Effects.S_BLUR %}
                </div>
                <P>blur</P>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_RED' %}">
                {% cloudinary photo.image Image_Effects.S_RED %}
                </div>
                <p>red</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_GREEN' %}">
                {% cloudinary photo.image Image_Effects.S_GREEN %}
                </div>
                <p>green</p>
             </div>

             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_BLack' %}">
                {% cloudinary photo.image Image_Effects.S_BLack %}
                </div>
                <p>black</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_SHARPEN' %}">
                {% cloudinary photo.image Image_Effects.S_SHARPEN %}
                </div>
                <p>sharpen</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_VIBRANCE' %}">
                {% cloudinary photo.image Image_Effects.S_VIBRANCE %}
                </div>
                <p>vibrance</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_OILPAINT' %}">
                {% cloudinary photo.image Image_Effects.S_OILPAINT %}
                </div>
                <p>oil paint</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_BLACKWHITE' %}">
                {% cloudinary photo.image Image_Effects.S_BLACKWHITE %}
                </div>
                <p>blackwhite</p>
             </div>


             <div class="ui small image xframe space">
                <div class="object" data-effect-url="{% url 'editphoto' id=photo.id effects='B_NEGATE' %}">
                {% cloudinary photo.image Image_Effects.S_NEGATE %}
                </div>
                <p>negate</p>
             </div>

        </div>

        <div class="col-md-9">
            <div class="frame">
                <div class="ui fluid image xframe">
                    <a href="#" download>
                    <div id ="largeImage" class="pix">
                    {% cloudinary photo.image effects %}
                    <p class="canvas">{{ photo.title }}</p>
                    </div>
                    </a>
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>
                            Share On Facebook
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="class="ui visible sidebar">
                <a href="{% url "photoview" %}">
                <button type="button" class="ui black basic button btn-block space" id="sp" >Back</button>
                </a>


                <div class="save"><a href="#" download="{{photo.title}}.png">
                <button type="button" class="ui black basic button btn-block space" id="sp">Save</button>
                </a></div>


                <button type="button" class="ui black basic button btn-block space del" data-toggle="modal" data-target="#delete-modal" href="#delete-modal"id="sp">Delete</button>

            </div>

            <div>
                <center>

                </center>
            </div>

        </div>

{% include "photoapp/delete_modal.html" %}

{% endblock main %}
