{% load staticfiles %}

<div class="modal fade" id="editpicture-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit this photo <i class="photo icon"></i></h4>
            </div>
            <div class="modal-body">
                <div class="ui fluid image" id="msize">

                    <p>{{ photo.title }}</p>
                </div>


             </div>
             <div class="modal-footer">

                <button type="button" class="ui black basic button" data-dismiss="modal">Close</button>
                <a href ="#">
                <button type="button" class="ui black basic button">Edit</button></a>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->