{% extends "headerbase.html" %}

{% load cloudinary %}
{% load static %}
{% load url from future %}
{% block main %} 

    {% if photos %}
        <div class="col-md-10">
            <div id="reload" class="scrll">
            {% if messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% for photo in photos %}
                <a href="#editpicture-modal" data-toggle="modal" class="modal-toggle hvr-grow-shadow" data-image-id="{{ photo.image.url }}" data-title="{{ photo.id }}" data-target="#editpicture-modal">
                <div class="ui small image">
                    {% cloudinary photo.image Image_Effects.THUMBNAIL %}
                <p>{{ photo.title }}</p>
                </div>
                </a>
            {% endfor %}
            </div>

        </div>

        <div class="col-md-2">
            <div class="class="ui visible sidebar">
                <button type="button" class="ui blue basic button btn-block" data-toggle="modal" data-target="#fileupload-modal">Upload a file</button>
            </div>
        </div>
            {% else %}

        <div class="col-md-10">                    
            <center><h3>Welcome to GentleEdit {{ request.user.username }}
            </h3><P> t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</P></center>
        </div>
        
      
        <div class="col-md-2">
            <div class="class="ui visible sidebar">
                <div style="height:0px;overflow:hidden">
                    <input type="file" id="fileInput" name="files[]" multiple />
                </div>
                <button type="button" class="ui blue basic button btn-block">Edit</button>

                <button type="button" class="ui blue basic button btn-block" data-toggle="modal" data-target="#fileupload-modal">Upload a file</button>
            </div>
        </div>

    {% endif %}
        {% include "photoapp/upload_modal.html" %}
        {% include "photoapp/edit_modal.html" %}
    
{% endblock main %}

{% block javascript %}{% endblock %}

