{% extends "headerbase.html" %}


{% load static %}
{% block main %}

    {% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% if photos %}
        <div id="reload">
            <div class="col-md-2 " style="border: solid;">
                <br>
                <div class="scrll">
                {% for photo in photos %}
                    <a class="hvr-grow-shadow editpix" data-title="{{ photo.id }}" data-image-id="{{ photo.image.path }}">
                    <div class="ui small image">
                        <img src = "{{ photo.image.url }}">
                    <p>{{ photo.title }}</p>
                    </div>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col-md-8">
                <center>
                <div class="ui big image" id="pixedit">

                    <div class="frame">
                        <img id="avatar" src = "#">
                        <p>{{ photo.title }}</p>
                    </div>
                </div>
                </center>
                <br>
                <div class="container-outer">
                    <div class="container-inner">

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="brightness">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="sharp">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="vintage">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect1">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect2">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect3">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect4">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect5">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect6">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect7">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect8">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect9">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                        <div class="ui small image effects">
                        <a href="#" class="setup" data-effect="effect10">
                        <img src = "#"></a>
                        <p>{{ photo.title }}</p>
                        </div>

                    </div>
                </div> <!--end container outer -->

            </div>
        </div>

        {% else %}

        <div id="reload">
            <center><h3>Welcome to GentleEdit {{ request.user.username }}</center>
            <div class="col-md-2">
                <center>
                </h3><P class="welcome">Make your Photos memorable and beautiful. With GentleEdit, you get to keep memories and make them look beautiful. Upload a Photo today and start making beautiful memories. </P></center>
            </div>
            <div class="col-md-8">
                <div class="ui fluid image">
                    <img src="{% static "img/sample.png" %}" width = "auto"/>
                    <center><p class="welcome">Sample Edit View</p></center>
                </div>
            </div>
        </div>

    {% endif %}
    <div class="col-md-2" id="once">
        <div class="class="ui visible sidebar">
            <button type="button" class="ui black basic button btn-block" data-toggle="modal" data-target="#fileupload-modal">Upload a file</button>
        </div><br>
         <p class="welcome">Click on Image to Edit</p>
    </div>

        {% include "photoapp/upload_modal.html" %}
        {% include "photoapp/edit_modal.html" %}

{% endblock main %}

{% block javascript %}{% endblock %}

