{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta name="csrf-token" content="{{csrf_token}}">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}GentleEdit{% endblock %}</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel='stylesheet' type='text/css'>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/jquery.filestyle.js" %}"></script>
    <script src="{% static "js/semantic.min.js" %}"></script>

    <script>
      {% block javascript %}{% endblock %}
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-inverse pagehead" role="navigation" style="background-color:rgba(115, 115, 111, 0.45);">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="#" href="#">
                <img src="{% static "img/head.png" width = "auto" %}" style="margin-top: 5px;" />
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right" style="color:black">

                    <img src="{{ facebook.contrib_picture }}" class="img-circle" style="margin-right:10px">Logged in as {{ request.user.username }} <a href="{% url 'signout' %}">Logout</a>
                    <li role="presentation"><a href="#"></a></li>
                </ul>
            </div>
        </div> <!-- /.navbar-collapse -->
    </nav>
    <div id="headerimage" style="opacity:0.2"></div>
    <div class="container head-container">
    {% block main %}


    {% endblock main %}
    </div>



    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


</body>
</html>